body {
  background-color: #231028;
  color: #fdf9ad;
  font-family: "museo-sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-family: "adelle", georgia, serif;
  font-style: normal;
  font-weight: 400;
}